#footer
    #copyright-and-license
        p#copyright © 2021-#{currentYear} 
            a(href="/") #{metas.name} #{metas.surname}

        p#source-code
            a(href="https://github.com/reeseschultz/reese.codes") Source Code

        p#license
            a(href="/license") License
