meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content=metas.description)
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="alternate", type="application/rss+json", title=metas.site, href="/blog/feed.json")
link(rel="icon", type="image/x-icon", href="/favicon.ico")
link(rel='stylesheet', href='/styles.css')
