$background-target: 2147483647vw;

@keyframes move-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: $background-target 0;
    }
}

@keyframes wiggle {
    from {
        transform: rotate(-9deg);
    }

    to {
        transform: rotate(9deg);
    }
}

@keyframes change-color {
    from {
        color: $blue;
    }

    to {
        color: $red;
    }
}