$background-target: 2147483647vw;

@keyframes wiggle {
    from {
        transform: rotate(-9deg);
    }

    to {
        transform: rotate(9deg);
    }
}

@keyframes change-color {
    from {
        color: $blue;
    }

    to {
        color: $red;
    }
}