pre {
    position: relative;
}

:not(pre)>code {
    border-radius: 0;
    font-family: Consolas, monaco, monospace;
    word-break: break-all;
    font-size: 1rem;
    color: $off-light;
    background-color: $code;
}

code {
    border-radius: 0.5rem;
}

button.copy {
    border-radius: 0 0.5rem 0 0;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 60%;
    background-color: $red;
    color: $light;
    padding: 0.5rem;
    font-family: Consolas, monaco, monospace;
    transition: all 200ms ease;
    cursor: pointer;
}

.copy:hover {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    opacity: 100%;
}