$light: #ececec;
$off-light: #c7c7c7;
$dark: #0b0a28;
$grey: #636363;

$blue: #0099ff;
$green: #19ff5a;
$yellow: #ffcb0d;
$orange: #ff9600;
$red: #ff1b19;
$purple: #8219ff;
$teal: #0dffde;

$code: #282936;

$rainbow: linear-gradient(90deg,
        $blue 0,
        $green 20%,
        $yellow 40%,
        $orange 60%,
        $red 70%,
        $blue 100%);